<div class="row">
    <h1>INFORMACION:</h1>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Argumentos de entrada</label>
        <input type="text" class="form-control" value="{{argumentos}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre de la plataforma</label>
        <input type="text" class="form-control" value="{{plataforma}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Versión de Node</label>
        <input type="text" class="form-control" value="{{versionNode}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Memoria total reservada</label>
        <input type="text" class="form-control" value="{{memTotalReservada}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Path de ejecución</label>
        <input type="text" class="form-control" value="{{path}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Process id</label>
        <input type="text" class="form-control" value="{{pocessId}}" readonly>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Carpeta del proyecto</label>
        <input type="text" class="form-control" value="{{carpetaProyecto}}" readonly>
    </div>
</div>