<form id="perfilForm" method="PUT">
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Nombre</label>
        <input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
    </div>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Edad</label>
        <input type="number" class="form-control" id="edad" name="edad" value="{{edad}}" required>
    </div>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" value="{{direccion}}" required>
    </div>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}" required>
    </div>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>